body {
  background-color: black;
  background: url(../images/background.gif) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-size: cover;
  /*background-attachment: fixed;*/
  font-family: "Comic Sans MS", cursive;
}

.main {
  margin-top: 25%;
  padding-left: 100px;
  min-width: 1200px;
  height: 500px;
}

.ryu{
	float:left;
}

.ryu-ready, .ryu-still, .ryu-throwing, .ryu-cool {
  width: 659px;
  height: 494px;
}

.ryu-ready, .ryu-throwing, .ryu-cool {
  display: none;
} 

.ryu-ready {
  background-image: url('../images/ryu-ready-position.gif');
}

.ryu-still {
  background-image: url('../images/ryu-standing-still.png');
}

.ryu-throwing {
  background-image: url('../images/ryu-throwing-hadouken.png');
}
.ryu-cool {
  background-image: url('../images/ryu-cool.gif');
}

.hadouken, .ryu-ready, .ryu-still, .ryu-throwing, .ryu-cool {
  background-repeat: no-repeat;
}

.hadouken {
  background-image: url('../images/hadouken.gif');
  width: 156px; 
  height: 90px;
  display: none;
  position: relative;
  top: 0px;
  left: 0px;
  float: left;
  top:167px; 
  left:-212px; 
}

.legend{
  background:#fff;
  display: none;
  float:left;
  padding:10px 40px 20px;
  top:0;
  position: absolute;
}
.legend h1{
  font-size:2.1em;
  text-transform: uppercase;
  line-height: 2em;

}
.legend p{
  line-height: 1.6em;
}